<header>
    <nav class="navbar navbar-expand-lg container">
      <a class="navbar-brand text-danger" routerLink="/home">NontonFilm</a>
      <button class="navbar-toggler text-danger" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons-outlined">
             menu
          </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" routerLink="/saved-film">Saved Film</a>
          </li>
          <div *ngIf="!isAuthenticated" class="pl-3">
             <button class="btn btn-outline-danger rounded-pill px-3 mr-2" routerLink="/login">
                  Login
             </button>
             <button class="btn btn-danger rounded-pill px-3" routerLink="/sign-up">
                  Sign Up
             </button>
          </div>
          <button *ngIf="isAuthenticated" (click)="logOut()"class="ml-3 btn rounded-pill px-4 text-danger ">
            <span class="material-icons-outlined float-left">
              account_circle
            </span>
             Logout
          </button>
        </ul>
      </div>
    </nav>
  </header>