<div class="container my-5">
    <div class="row">
        <div class="col-3">
            <img 
                [src]="urlImg.concat(film['poster_path'])"
                class="w-100 rounded-sm">
        </div>
        <div class="col-9">
            <div class="p-2">
                 <h1>{{ film['title']}}</h1>
                 <span class="btn btn-warning rounded-pill">{{ film['tagline']}}</span>
                 <h5 class="mt-3">Overview</h5>
                 <p class="mt-1 mb-3">{{ film['overview'] }}</p>
                 <span class="btn btn-danger rounded-pill">Popularity : {{ film['popularity']}}</span>
                 <span class="btn btn-success rounded-pill mx-2">🤍 {{ film['vote_count']}}</span>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-9 row">
            <div class="col-6 py-2">
                <h3>Producers</h3>
                <ul class="p-0 list-group list-group-horizontal">
                    <li *ngFor="let company of film['production_companies']" class="list-group mr-2">
                        <span class="btn btn-outline-info">{{ company.name }}</span>
                    </li>
                 </ul>
            </div>
        
            <div class="col-6 py-2">
                 <h3>Languages</h3>
                 <ul class="p-0 list-group  list-group-horizontal">
                    <li *ngFor="let language of film['spoken_languages']" class="list-group mr-2">
                        <span class="btn btn-outline-info">{{ language.name }}</span>
                    </li>
                 </ul>
            </div>
        </div>
        <div class="col-3">
            <div>
                <h5>Status</h5>
                <p class="fs-1">{{ film['status']}}</p>
            </div>
            <div>
                <h5>Budget</h5>
                <p class="fs-1">${{ film['budget']}}</p>
            </div>
        </div>
    </div>
</div>

