<main class="container">
    <div class="p-5">
      <h1 class="m-5 text-center text-title">Nikmati Film Sesuai Dengan Selera dan Minat Anda</h1>
      <form [formGroup]="searchForm" (ngSubmit)="searchMoviesByKeyword()" class="input-group mb-3">
        `<input formControlName="search" type="text" class="form-control" placeholder="search film, video or etc">
         <div class="input-group-append">
          <button class="btn btn-danger btn-search" type="submit">Search</button>
         </div>
      </form>
    </div> 
  
    
    <div class="row">
         <div *ngIf="loading"  class="item">
              <ngx-skeleton-loader
                  count="8"
                  [theme]="{ 
                    'border-radius': '5px',
                    height: '400px',
                    width: '275px',
                    'background-color': '#ebebeb',
                    border: '1px solid white',
                    'margin-right': '10px'
              }"
              ></ngx-skeleton-loader>
         </div>
         <div *ngFor="let film of films" class="col-6 col-md-3 p-2 position-relative">
            <app-favourite *ngIf="!favourite"></app-favourite>
            <app-favourite-border *ngIf="favourite"></app-favourite-border>
            <a routerLink="/detail-film/{{film.id}}">
             <img
               [src]="urlImg.concat(film.poster_path)" 
               class="w-100 rounded-sm"
              > 
            </a>
          </div>
      </div>
  </main>
  
